.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(242, 242, 242);
    align-items: center;
}

h1{
    letter-spacing: 10px;
    margin: 10px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin: 15px;
    transition: 0.4s ease;
    padding: 10px 15px;
}

ul li:hover{
    background-color: rgb(240, 240, 240);
}

a{
    text-decoration: none;
    color: black;
}
